/* Navbar container */
nav {
  display: flex;
  justify-content: space-between; /* left - center - right */
  align-items: center;
  padding: 12px 40px;
  border-bottom: 2px solid #e01860; /* pink underline */
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Logo + Name in one line */
.image {
  display: flex;
   /* flex-direction: row;    */
  align-items: center;
  gap: 10px;             
}

.image img {
  width: 40px;
  height: 40px;
  display: block;
}

.image p {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #ce3bcb; /* purple */
}

/* Menu section */
.menu {
  display: flex;
  gap: 20px;
}

.menu button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #e01860;
  cursor: pointer;
  position: relative;
}

.menu button:hover::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e01860;
  border-radius: 2px;
}

/* Icon section */
.icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon button {
  background: none;
  border: none;
  font-size: 22px;
  color: #e01860;
  cursor: pointer;
}
