.banner-container {
    text-align: center;
    padding: 20px;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #4caf50;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}


.banner {
    background-color: #ec407a;
    padding: 10px 30px;
    display: inline-block;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.banner-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.event-text {
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    padding: 8px;
    border: 2px solid #ff69b4;
    border-radius: 4px;
    margin-bottom: 10px;
}
.form-group select {
    width: 100%;
    padding: 8px;
    border: 2px solid #ff69b4;
    border-radius: 4px;
    margin-bottom: 10px;
}

#e{
    width: 100%;
}

.radio{
    margin: 10px;
    
}


.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;    /* space between radio button and text */
  margin-bottom: 10px;
  cursor: pointer;
  
}



.button-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #ff69b4;
    color: white;
}

button[type="button"] {
    background-color: #ff69b4;
    color: white;
    opacity: 0.8;
}

button:hover {
    opacity: 0.9;
}

